
.btn{
  padding: 0.6rem 1.2rem;
  background: #5785da;
  border: 2px solid #5785da;
}
.btn-primary:hover {
  background-color: #df8c96;
  border-color: #df8c96;
  transition: .3s;

}
.vac
{
  font-weight: bold;
  margin-left: 140px;
}
a{
  margin-left: 561px;
  font-size: 14px;
  font-weight: bold;
  margin-top: -200px;
}
table{
  margin-left: 20px;
}
a:hover{
  font-size: 13px;
}

