h1{
    font-style: italic;
    font-weight: 400;
}
.centerliaze{
    text-align: center;
}
button{
padding-top: 7px;
padding-bottom: 7px;
padding-left: 30px;
padding-right: 30px;
}
.btn_shows{
    padding-left: 10px;
}
// .bottomparts{
   
// }