.btn{
    padding: 0.6rem 1.2rem;
    background: #5785da;
    border: 2px solid #5785da;
  }
  .btn-primary:hover {
    background-color: #df8c96;
    border-color: #df8c96;
    transition: .3s;
  
  }
  .myclass{
    width:900px;
    margin-left:260px;
    margin-top : 40px;
  }
  .vac
  {
    font-weight: bold;
    margin-left: 140px;
  }
  h5{
    margin-left: 323px;
  }
  tr span{
    margin-left: 200px;
  }
  
  
  