h2{
    text-align: center;
}

.controls{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.small_controls{
    width: 60%;
}
.outer{
    padding-left: 10%;
    padding-right: 10%;
}